{% extends 'base.html' %}

{% block title %}Search Result{% endblock title %}
{% block blogactive %} active {% endblock blogactive %}

{% block body %}

<div class="container my-3">
    <h2>Search result:</h2>

    {% for post in allPosts %}

    <div class="card flex-md-row my-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">{{post.content | truncatechars:350 }}</p>
            <div class="my-2">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock body %}